name: 01 - Building Blocks

on:
  # push:
  pull_request:
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Say hello
        run: echo "Hello, world!"
  job2:
    runs-on: ubuntu-latest
    steps:
      - name: Task - Multi-line bash
        run: |
          echo "I am"
          echo "a multi-line script"
          echo "Event name: ${{ github.event_name }} event."
          echo "Runner OS: $RUNNER_OS"
      - name: Task - Say goodbye
        run: echo "Goodbye!"
  job3:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: List files
        run: ls -la

